<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="se.embargo.recall"
	android:versionCode="6"
	android:versionName="1.1.2" >

	<uses-sdk 
		android:minSdkVersion="10"
		android:targetSdkVersion="22"/>

	<!-- Used to detect incoming/outgoing phone calls -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>   
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
		
	<!-- Used to access to phone book -->
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	
	<!-- Used to read/write the sdcard (e.g. recordings and photos) -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	
	<!-- Used to record audio from phone calls -->
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
			
	<!-- Needed to register broadcast receiver on startup -->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	
	<!-- Hardware requirements -->
	<uses-feature android:name="android.hardware.microphone" android:required="true"/>
	<uses-feature android:name="android.hardware.telephony" android:required="true"/>
	
	<application
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:allowBackup="true">

		<activity
			android:name="se.embargo.recall.MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity
			android:name="se.embargo.recall.SettingsActivity"
			android:label="@string/settings_activity_name"/>
		
		<receiver 
			android:name=".phone.CallReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.NEW_OUTGOING_CALL" />
				<action android:name="android.intent.action.PHONE_STATE" />
			</intent-filter>
		</receiver>
				
		<service android:name="se.embargo.recall.phone.CallService"/>
			
		<provider
			android:name="se.embargo.recall.database.RecallRepository"
			android:authorities="se.embargo.recall.repository"
			android:grantUriPermissions="true"
			android:exported="false"
			android:multiprocess="false"/>
				
	</application>
</manifest>